*{
    margin: 0;
    padding: 0;
}
#head-left{
    float: left;
}
#head-left a,#head-right a{
    text-decoration: none;
}
#head-right{
    float: right;
}
.clsf{
    clear: both;
}
.search-div{
    justify-items: center;
    align-items: center;

}
